{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1>Modification du mot de passe !</h1>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary my-3">Modification Mot Passe</button>
    </div>

    {{ form_end(form) }}
</div>
{% endblock %}
