<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SymBnB! - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
            crossorigin="anonymous"/>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('build/js/app.js') }}"></script>
            
        {% endblock %}
    </head>
    <body>
        {% include 'layouts/header.html.twig' %}

        {% block body %}{% endblock %}
        
        {% include 'layouts/footer.html.twig' %}
    </body>
</html>
